# Ignore the .ipynb_checkpoints folder
.ipynb_checkpoints/

# Ignore specific folders (spaces in folder names must be handled correctly)
Important_dataset-photo_clicked/
Important_dataset-photo_clicked_FLIPPED/
Important_NUMBER_Dataset_photo_clicked/
Kaggle_DataSet/
final_dataset_alpha/
Practice_Test_models/

# Ignore specific files
2_hands.py
Deaf.py
model_for_2_hands.ipynb
